@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800");

/*공통*/
* {
  margin: 0;
  padding: 0;
}
html,
body {
  width: 100%;
  height: 100%;
  min-width: 1262px;
}
html {
  overflow-y: scroll;
}
body {
  background-color: #fff;
  width: 100%;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
th,
td,
input,
textarea {
  color: #555;
  font-family: "Noto Sans KR", "돋움", dotum, sans-serif;
  font-size: 13.5px;
  font-weight: normal;
}
img {
  border: 0 none;
}
ul,
ol,
li {
  list-style: none;
}
address {
  font-style: normal;
}
img,
input {
  vertical-align: middle;
}
a {
  color: #7d7d7d;
  text-decoration: none;
  cursor: pointer;
}
a:hover {
  color: #333;
  text-decoration: none;
}
#wrap {
  width: 100%;
}
#container {
  width: 100%;
}
#footer {
  width: 100%;
}
.conwrap {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}
.conwrap:after {
  display: block;
  clear: both;
  content: "";
}

@media (max-width: 1450px) {
  .conwrap {
    max-width: 1400px;
    width: 94%;
    margin: 0 auto;
    position: relative;
  }
}

/* 헤더 시작 */
#header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background: #fff;
  z-index: 1000;
}
.head {
  border-bottom: 1px solid #eaeaea;
}

.head_top {
  height: 58px;
  border-bottom: 1px solid #eaeaea;
}
.head_top .links {
  overflow: hidden;
  float: left;
  margin-top: 14px;
}
.head_top .links .lang {
  position: absolute;
  left: 0;
  top: 14px;
  z-index: 100;
  float: left;
  width: 86px;
  height: 21px;
  padding-top: 7px;
  overflow: hidden;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: all 0.3s;
}
.head_top .links .lang.on {
  height: 36px;
  transition: all 0.3s;
}
.head_top .links .lang .this_lang {
  padding-left: 15px;
  background: url(/images/lang_kor.gif) no-repeat 10px center;
}
.head_top .links .lang .this_lang a {
  display: block;
  width: 38px;
  padding-left: 15px;
  font-family: "Montserrat", sans-serif;
  font-size: 11px;
  color: #000;
  background: url(/images/lang_arr.gif) no-repeat right center;
}
.head_top .links .lang.on .this_lang a {
  background: url(/images/lang_arr2.gif) no-repeat right center;
}
.head_top .links .lang ul {
  width: 86px;
  margin-top: 5px;
}
.head_top .links .lang ul li a {
  display: block;
  font-family: "Montserrat", sans-serif;
  font-size: 11px;
  margin-left: -2px;
  text-align: center;
  color: #000;
  background: url(/images/lang_eng.gif) no-repeat 12px center;
}

.head_top .links .sns {
  float: left;
  padding-left: 93px;
}
.head_top .links .sns ul {
  overflow: hidden;
}
.head_top .links .sns ul li {
  float: left;
  margin-left: 7px;
}
.head_top .topmenu {
  float: right;
  margin-top: 20px;
}
.head_top .topmenu ul {
  overflow: hidden;
}
.head_top .topmenu ul li {
  float: left;
  margin-left: 10px;
  padding-left: 12px;
  background: url(/images/tm_bar.gif) no-repeat left center;
}
.head_top .topmenu ul li:first-child {
  background: 0;
}
.head_top .topmenu ul li a {
  font-family: "Montserrat", sans-serif;
  font-size: 11px;
  color: #9b9a9a;
}

.head .gnb h1 {
  float: left;
  width: 162px;
}
.head .gnb .nav {
  float: left;
  width: 1076px;
}
.head .gnb .nav > ul {
  text-align: center;
  margin-left: 60px;
}
.head .gnb .nav > ul > li {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin: 0 33px;
  height: 89px;
  line-height: 89px;
  font-size: 17px;
  color: #303030;
  transition: all 0.3s;
}
.head .gnb .nav > ul > li:first-child {
  margin: 0 33px 0 0;
}
.head .gnb .nav > ul > li:nth-child(6) {
  margin: 0 0 0 55px;
}
.head .gnb .nav > ul > li > a {
  display: block;
  height: 89px;
  line-height: 89px;
  font-size: 17px;
  color: #303030;
  transition: all 0.3s;
}
.head .gnb .nav > ul > li.on > a {
  color: #c40f39;
  transition: all 0.3s;
}

.head .gnb .nav > ul > li:nth-child(3) > a {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

/* 네비 시작 */
.head .gnb .nav > ul > li > ul {
  display: none;
  position: absolute;
  left: -78px;
  top: 100%;
  z-index: 100;
  width: 100px;
  padding: 12px 25px;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}
.head .gnb .nav > ul > li:nth-child(1) > ul {
  left: -39px;
  width: 100px;
}
.head .gnb .nav > ul > li:nth-child(2) > ul {
  left: -37px;
  width: 100px;
}
.head .gnb .nav > ul > li:nth-child(3) > ul {
  left: -35px;
  width: 150px;
}
.head .gnb .nav > ul > li:nth-child(4) > ul {
  left: -37px;
  width: 120px;
}
.head .gnb .nav > ul > li:nth-child(5) > ul {
  left: -50px;
  width: 123px;
}
.head .gnb .nav > ul > li:nth-child(6) > ul {
  left: -32px;
  width: 125px;
}
.head .gnb .nav > ul > li > ul > li {
  border-bottom: 1px solid #e1e1e1;
}
.head .gnb .nav > ul > li > ul > li:last-child {
  border-bottom: 0;
}
.head .gnb .nav > ul > li > ul > li > a {
  display: block;
  height: 49px;
  line-height: 49px;
  font-size: 14px;
  color: #6e6e6e;
  transition: all 0.3s;
}
.head .gnb .nav > ul > li > ul > li > a:hover {
  color: #c40f39;
  transition: all 0.3s;
}

.head .gnb .search {
  float: right;
  width: 162px;
}
.head .gnb .search .nav_search {
  overflow: hidden;
  float: right;
  text-align: right;
  margin-right: 18px;
  margin-top: 36px;
  transition: all 0.6s;
}
.head .gnb .search .nav_search a {
  float: right;
}
.head .gnb .search .nav_search input {
  float: right;
  width: 0;
  border: 0;
  outline: 0;
  margin-left: 10px;
  transition: all 0.6s;
}
.head .gnb .search .nav_search.on {
  border-bottom: 1px solid #303030;
  transition: all 0.6s;
}
.head .gnb .search .nav_search.on input {
  width: 90px;
  transition: all 0.6s;
}
.head .gnb .search .btn_all {
  float: right;
  overflow: hidden;
  width: 19px;
  height: 16px;
  margin-top: 36px;
  cursor: pointer;
}
.head .gnb .search .btn_all > div {
  width: 100%;
  height: 2px;
  margin-bottom: 5px;
  background: #303030;
  transition: all 0.4s;
}
.head .gnb .search .btn_all.openmenu > div:nth-child(1) {
  transform: translateY(7px) rotate(45deg);
}
.head .gnb .search .btn_all.openmenu > div:nth-child(2) {
  opacity: 0;
}
.head .gnb .search .btn_all.openmenu > div:nth-child(3) {
  transform: translateY(-7px) rotate(-45deg);
}
/* 네비 끝 */
/* 전체메뉴 보기 */
.allmenu {
  display: none;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 100%;
  z-index: 100;
  width: 100%;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1), 0 1px 0 #ddd inset;
}
.menubox {
  float: left;
  width: 12.66%;
  padding: 50px 2%;
  height: 340px;
  box-shadow: -1px 0px 0px #e5e4e4 inset;
}
.menubox h2 {
  height: 50px;
  margin-bottom: 20px;
  font-size: 21px;
  color: #303030;
  font-weight: 500;
}
.menubox h2 a {
  color: #303030;
}
.menubox h2:after {
  display: block;
  content: "";
  width: 19px;
  height: 2px;
  margin: 20px 0;
  background: #c40f39;
}
.menubox ul li {
  margin-bottom: 15px;
}
.menubox ul li:last-child {
  margin-bottom: 0px;
}
.menubox ul li a {
  display: block;
  font-size: 17px;
  color: #6e6e6e;
  font-weight: 400;
}
.menubox ul li a:hover {
  font-size: 17px;
  color: #c40f39;
  font-weight: 400;
}
@media (max-width: 1450px) {
  .head .gnb {
    min-width: 1262px;
    margin: 0 auto;
  }
  .head .gnb h1 {
    float: none;
    width: 162px;
    position: absolute;
    left: 0;
    top: 0;
  }
  .head .gnb .nav {
    float: none;
    width: 1076px;
    margin: 0 auto;
  }
  .head .gnb .search {
    float: none;
    position: absolute;
    right: 0;
    top: 0;
    width: 162px;
  }
}

#bgblack {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 3000;
}
.find_layer {
  display: none;
  position: relative;
  position: absolute;
  left: 50%;
  z-index: 4000;
  width: 800px;
  margin-left: -400px;
  overflow: hidden;
  background: #fff;
}
.find_layer iframe {
  width: 820px;
  height: 800px;
}
.find_layer .btnx_ {
  width: 50px;
  height: 50px;
  position: absolute;
  right: 26px;
  top: 13px;
  z-index: 10;
  cursor: pointer;
}
/* 헤더 끝 */
/* 메인화면 들어갈 위치 추후 수정  */
#visual {
  width: 100%;
  height: 652px;
  margin-top: 108px;
  border: 1px solid black;
  background: url(../images/visual1.jpeg) no-repeat;
}
#visual2 {
  width: 100%;
  height: 342px;
  border: 1px solid black;
  background: url(../images/page_visual2.jpg) no-repeat;
  text-align: center;
}
#visual2 h2 {
  padding-top: 120px;
  font-size: 34px;
  color: #fff;
  font-weight: 500;
}
#visual2 h2::after {
  display: block;
  content: "";
  width: 30px;
  height: 4px;
  margin: 5px auto 10px;
  background: #c40f39;
}
#visual2 p {
  font-size: 15px;
  color: #fff;
  font-weight: 300;
}
#visual .textarea {
  position: absolute;
  left: 50%;
  top: 125;
  width: 1400px;
  height: 100%;
  margin-left: -700px;
  z-index: 10;
  color: #fff;
}
#visual .textarea h3 {
  font-size: 50px;
  color: #fff;
  line-height: 120%;
  font-weight: 200;
  margin: 0 0 0 120px;
}
#visual .textarea p {
  font-size: 15px;
  color: rgba(255, 255, 255, 0.8);
  line-height: 140%;
  font-weight: 300;
  margin: 30px 0 0 120px;
}
#visual .textarea h3:before {
  display: block;
  content: "";
  width: 80px;
  height: 1px;
  background: #fff;
  margin: 157px 0 10px 0;
}
#container {
  width: 100%;
  height: 500px;
}
#container2 {
  overflow: hidden;
  width: 100%;
  margin-top: 148px;
  padding-bottom: 150px;
}
.pagetabs {
  position: relative;
  max-width: 1400px;
  width: 100%;
  margin: -29px auto 85px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.pagetabs ul {
  overflow: hidden;
  background: #fff;
}
.pagetabs ul.m2 li {
  width: 233px;
}
.pagetabs ul li {
  float: left;
}
.pagetabs ul li.on a {
  color: #fff;
  background: #c40f39;
}
.pagetabs ul li a {
  display: block;
  height: 58px;
  line-height: 4;
  text-align: center;
  font-size: 15px;
  color: #666;
  background: #fff;
  border-right: 1px solid #ddd;
}
.title1 {
  font-size: 38px;
  font-weight: 600;
  color: #000;
  text-align: center;
  letter-spacing: 2px;
}
.title1 span {
  color: #c40f39;
}
.title1:after {
  display: block;
  content: "";
  width: 30px;
  height: 4px;
  margin: 5px auto 95px;
  background: #c40f39;
}
.subcate {
  text-align: center;
}
.subcate li {
  display: inline-block;
  width: 130px;
  margin: 0 7px;
}
.subcate li a {
  display: block;
  text-align: center;
  height: 32px;
  line-height: 2;
  font-weight: 500;
  font-size: 15px;
  color: #777;
  border-bottom: 2px solid #dcdcdc;
}
.product_list {
  max-width: 1400px;
  margin: 45px auto 0;
}
.product_list ul {
  overflow: hidden;
}
.product_list ul li {
  float: left;
  width: 261px;
  margin: 0 17px 49px 0;
  border: 1px solid #ddd;
}
.product_list ul li a .thum {
  position: relative;
}
.product_list ul li a .thum .ondiv {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  opacity: 0;
  transition: all 0.3s ease;
}
.product_list ul li:hover a .thum .ondiv {
  opacity: 1;
  transition: all 0.3s ease;
}
.product_list ul li a .thum .ondiv .btn_plus {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 72px;
  height: 72px;
  margin: -36px 0 0 -36px;
  background: rgba(255, 255, 255, 0.8);
}
.product_list ul li a .thum .ondiv .btn_plus div:nth-child(1) {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 50%;
  height: 1px;
  margin-left: -25%;
  background: rgba(196, 15, 57, 0.7);
}
.product_list ul li a .thum .ondiv .btn_plus div:nth-child(2) {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 1px;
  height: 50%;
  margin-top: -25%;
  background: rgba(196, 15, 57, 0.7);
}
.product_list ul li a .info {
  height: 71px;
  padding: 30px 30px 0;
}
.product_list ul li a .info .cate1 {
  margin: 0px 0 5px;
  font-size: 12px;
  color: #b3b3b3;
}
.product_list ul li a .info .product_name {
  font-size: 15px;
  color: #000;
  font-weight: 600;
}
.paging {
  margin: 60px 0;
  text-align: center;
}
.paging a {
  display: inline-block;
  vertical-align: top;
  width: 38px;
  height: 38px;
  text-align: center;
  line-height: 34px;
  font-size: 15px;
  color: #a8a8a8;
  vertical-align: middle;
  border: 1px solid #ddd;
}
.paging a.page_prev {
  margin-right: 30px;
}
.paging strong {
  display: inline-block;
  vertical-align: top;
  width: 38px;
  height: 38px;
  text-align: center;
  line-height: 38px;
  font-size: 15px;
  color: #c40f39;
  font-weight: 500;
  border: 1px solid #c40f39;
}
.paging a.page_next {
  margin-left: 30px;
}
.btn_top {
  position: fixed;
  right: 3%;
  bottom: 30%;
  z-index: 100;
  border: 2px solid #c40f39;
}
.new {
  padding: 75px 0 90px;
}
.new .conwrap {
  position: relative;
  max-width: 1200px;
  width: 100%;
}
.new .tit {
  position: absolute;
  left: 0;
  top: 0;
}
.new .tit h2 {
  height: 90px;
  font-family: "Montserrat", sans-serif;
  font-size: 32px;
  font-weight: 600;
  letter-spacing: 2px;
  color: #000;
  line-height: 120%;
}
.new .tit h2:after {
  content: "";
  display: block;
  width: 26px;
  height: 4px;
  margin: 10px 0 0;
  background: #c40f39;
}
.new .toparea {
  overflow: hidden;
  margin: 13px 0 22px;
}
.new .toparea .box {
  float: left;
}
.new .toparea .box:nth-child(1) {
  margin: 155px 22px 0 0;
}

.new .btmarea {
  overflow: hidden;
}
.new .btmarea .box {
  float: left;
}
.new .btmarea .box:nth-child(1),
.new .btmarea .box:nth-child(2) {
  margin: 0 22px 0 0;
}
.new .box {
  position: relative;
}
.new .box .ondiv {
  display: table;
  position: absolute;
  left: 15px;
  top: 15px;
  background: #c40f39;
  text-align: center;
  opacity: 0;
  transition: all 0.6s;
}
.new .box:hover .ondiv {
  opacity: 1;
  transition: all 0.6s;
}
.new .box .ondiv .align {
  display: table-cell;
  vertical-align: middle;
}
.new .box .ondiv .cate {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  letter-spacing: 3px;
  color: #eec7d0;
}
.new .box .ondiv .name {
  font-size: 21px;
  color: #fff;
}
.new .box .ondiv .plus {
  position: relative;
  width: 30px;
  height: 30px;
  margin: 45px auto 0;
  transform: rotateZ(180deg);
  transition: all 0.4s 0.2s;
}
.new .box:hover .ondiv .plus {
  transform: rotateZ(0deg);
  transition: all 0.4s 0.2s;
}
.new .box .ondiv .plus div:nth-child(1) {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 1px;
  background: rgba(255, 255, 255, 0.6);
}
.new .box .ondiv .plus div:nth-child(2) {
  position: absolute;
  left: 50%;
  top: 0;
  width: 1px;
  height: 100%;
  background: rgba(255, 255, 255, 0.6);
}

.new .toparea .box:nth-child(1) .ondiv {
  width: 362px;
  height: 175px;
}
.new .toparea .box:nth-child(2) .ondiv {
  width: 756px;
  height: 330px;
}
.new .btmarea .box:nth-child(1) .ondiv {
  width: 362px;
  height: 262px;
}
.new .btmarea .box:nth-child(2) .ondiv {
  width: 420px;
  height: 409px;
}
.new .btmarea .box:nth-child(3) .ondiv {
  width: 284px;
  height: 262px;
}
.product {
  overflow: hidden;
  padding: 70px 0;
  background: #eee;
  text-align: center;
}
.product .tit {
  font-family: "Montserrat", sans-serif;
  font-size: 32px;
  font-weight: 600;
  letter-spacing: 2px;
  color: #000;
  line-height: 120%;
}
.product .tit:after {
  content: "";
  display: block;
  width: 26px;
  height: 4px;
  margin: 10px auto;
  background: #c40f39;
}
.product .p_tabs {
  margin: 40px 0;
}
.product .p_tabs ul li {
  display: inline-block;
}
.product .p_tabs ul li a {
  display: block;
  width: 153px;
  height: 32px;
  text-align: center;
  line-height: 32px;
  font-size: 14px;
  color: #898989;
  border: 2px solid #bcbcbc;
}
.product .p_tabs ul li.on a {
  border: 2px solid #c40f39;
  color: #c40f39;
}
.p_lists {
  overflow: hidden;
}
.p_lists ul {
  overflow: hidden;
}
.p_lists ul li:first-child {
  margin-left: 0;
}
.p_lists ul li {
  float: left;
  width: 266px;
  margin: 0 9px;
}
.p_info {
  margin-top: 60px;
  width: 100%;
  border-top: 1px dotted #ccc;
}
.p_info .wrap {
  width: 850px;
  margin: 0 auto;
  position: relative;
}
.p_info .wrap .arr1 {
  position: absolute;
  left: 0;
  top: 7px;
}
.p_info .wrap .arr2 {
  position: absolute;
  right: 0;
  top: 7px;
}
.p_info .wrap .ds {
  width: 100px;
  margin: 0 auto;
  margin-top: -20px;
  background: #eee;
  font-size: 12px;
}
.p_info .wrap .ds div {
  margin-bottom: 25px;
}
.bgvid {
  width: 100% !important;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  background-size: cover;
  margin: 0 0 0 0;
}
.bbs {
  background: #f8f8f8;
  border-bottom: 1px solid #ddd;
  height: 355px;
}
@media (max-width: 1355px) {
  .bbs .news {
    width: 36%;
  }
}
@media (max-width: 1450px) {
  .bbs .news {
    width: 41%;
  }
}
@media (max-width: 1520px) {
  .bbs .news {
    float: left;
    min-width: 440px;
    width: 45%;
    height: 310px;
    padding-right: 40px;
  }
}
.bbs .news {
  float: left;
  width: 650px;
  height: 310px;
  padding-right: 49px;
  padding-top: 45px;
  border-right: 1px solid #ddd;
}
.bbs .news .tit {
  position: relative;
  margin-bottom: 15px;
}
.bbs .news .tit h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: #000;
  line-height: 120%;
}
.bbs .news .tit a {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 11px;
  color: #3d3e38;
  letter-spacing: 1px;
  border-bottom: 1px solid #3d3e38;
}
.bbs .news .tit:after {
  content: "";
  display: block;
  width: 26px;
  height: 4px;
  margin: 5px 0 0;
  background: #c40f39;
}
.bbs .news .news_lists li {
  position: relative;
  line-height: 170%;
}
.bbs .news .news_lists li a {
  color: #555;
}
.bbs .news .news_lists li .date {
  position: absolute;
  right: 0;
  top: 0;
  color: #888;
}

.bbs .news .news_lists li.first {
  overflow: hidden;
  border-bottom: 1px solid #bbb;
  padding: 10px 0 20px;
  margin-bottom: 15px;
}
@media (max-width: 1520px) {
  .bbs .news .news_lists li.first .thum {
    float: left;
    width: 164px;
  }
}
.bbs .news .news_lists li.first .thum {
  float: left;
}
.bbs .news .news_lists li.first .txt {
  float: right;
  width: 456px;
  margin-top: 5px;
}
.bbs .news .news_lists li.first .txt .sbj {
  font-size: 21px;
  color: #000;
  margin-bottom: 5px;
}
.bbs .news .news_lists li.first .txt p {
  font-size: 14px;
  color: #555;
  margin-bottom: 15px;
  word-break: keep-all;
}
.bbs .news .news_lists li.first .date {
  position: static;
  float: right;
  color: #888;
}

.bbs .inquiry {
  float: left;
  width: 349px;
  height: 355px;
  background: url(../images/inquiry_bg.jpeg) no-repeat;
  border-right: 1px solid #ddd;
  text-align: center;
}
.bbs .inquiry .tit {
  margin: 65px 0 0;
  padding-top: 75px;
  background: url(../images/inquiry_tit_bg.png) no-repeat center 2px;
}
.bbs .inquiry .tit h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: #000;
  line-height: 120%;
}
.bbs .inquiry .tit:after {
  content: "";
  display: block;
  width: 26px;
  height: 4px;
  margin: 10px auto;
  background: #c40f39;
}
.bbs .inquiry p {
  color: #6a6a6a;
  line-height: 160%;
  margin-bottom: 45px;
}
.bbs .inquiry a {
  display: block;
  width: 167px;
  height: 35px;
  margin: 0 auto;
  text-align: center;
  line-height: 35px;
  font-family: "Montserrat", sans-serif;
  color: #c40f39;
  font-weight: 500;
  border: 2px solid #c40f39;
  transition: all 0.6s;
}
.bbs .inquiry a:hover {
  color: #fff;
  border: 2px solid #c40f39;
  background: #c40f39;
  transition: all 0.6s;
}
.bbs .shop {
  float: left;
  width: 349px;
  height: 355px;
  background: url(../images/shop_bg.png) no-repeat;
  border-right: 1px solid #ddd;
  text-align: center;
}
.bbs .shop .tit {
  margin: 65px 0 0;
  padding-top: 75px;
  background: url(../images/shop_tit_bg.png) no-repeat center 0px;
}
.bbs .shop .tit h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: #000;
  line-height: 120%;
}
.bbs .shop .tit:after {
  content: "";
  display: block;
  width: 26px;
  height: 4px;
  margin: 10px auto;
  background: #c40f39;
}
.bbs .shop p {
  color: #6a6a6a;
  line-height: 160%;
  margin-bottom: 45px;
}
.bbs .shop a {
  display: block;
  width: 167px;
  height: 35px;
  margin: 0 auto;
  text-align: center;
  line-height: 35px;
  font-family: "Montserrat", sans-serif;
  color: #c40f39;
  font-weight: 500;
  border: 2px solid #c40f39;
  transition: all 0.6s;
}
.bbs .shop a:hover {
  color: #fff;
  border: 2px solid #c40f39;
  background: #c40f39;
  transition: all 0.6s;
}

.fam_links {
  padding: 45px 0;
  width: 1400px;
  margin: 0 auto;
}
.fam_links ul {
  overflow: hidden;
}
.fam_links ul li {
  float: left;
  margin-right: 50px;
}
.fam_links ul li:last-child {
  margin-right: 0;
}
.fam_links ul li a {
  display: block;
  border: 1px solid #ddd;
  padding: 1px;
  transition: all 0.3s ease-in-out;
}
.fam_links ul li a:hover {
  border: 1px solid #c40f39;
  box-shadow: 1px 1px 0 #c40f39 inset, -1px -1px 0 #c40f39 inset;
  transition: all 0.3s ease-in-out;
}
/* 푸터 시작 */
#footer {
  position: relative;
  background: #111;
  padding: 60px 0 65px;
}
.foot {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
}
.foot:after {
  display: block;
  content: "";
  clear: both;
}
.foot_top {
  width: 100%;
  padding-bottom: 25px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.foot_top:after {
  display: block;
  content: "";
  clear: both;
}
.foot_top h1 {
  float: left;
}
.foot_top .fm {
  overflow: hidden;
  float: right;
}
.foot_top .fm li {
  float: left;
  padding-right: 11px;
  margin-right: 10px;
  background: url(/images/common/fm_bar.gif) no-repeat right center;
}
.foot_top .fm li:last-child {
  margin: 0;
  padding: 0;
  background: 0;
}
.foot_top .fm li a {
  color: rgba(255, 255, 255, 0.5);
}

.foot_btm {
  width: 100%;
  padding-top: 25px;
}
.foot_btm:after {
  display: block;
  content: "";
  clear: both;
}
.foot_btm .tit {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  color: #fff;
  margin-bottom: 10px;
}
.foot_btm .info {
  float: left;
  margin-right: 55px;
}
.foot_btm .info address {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.3);
  font-weight: 300;
}
.foot_btm .info address span {
  display: inline-block;
  padding: 0 10px;
  margin-bottom: 3px;
}
.foot_btm .info .copy {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.3);
  font-weight: 300;
}
.foot_btm .cc {
  float: left;
}
.foot_btm .cc_tel {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  color: rgba(255, 255, 255, 0.5);
}
.foot_btm .fam_site {
  float: right;
  position: relative;
  width: 242px;
  height: 34px;
  text-align: left;
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.foot_btm .fam_site > a {
  display: block;
  padding: 0 13px;
  height: 34px;
  line-height: 34px;
  font-size: 13px;
  color: rgba(255, 255, 255, 0.4);
  background: url(/images/family_arr.png) no-repeat 95% center;
}
.foot_btm .fam_site ul {
  display: none;
  background: rgba(0, 0, 0, 1);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-bottom: 0;
  position: absolute;
  left: -1px;
  bottom: 100%;
  width: 242px;
}
.foot_btm .fam_site ul li a {
  display: block;
  padding: 0 13px;
  height: 34px;
  line-height: 34px;
  font-size: 13px;
  color: rgba(255, 255, 255, 0.6);
}
.foot_pop {
  display: none;
  width: 1280px;
  border-top: 5px solid #c40f39;
  padding: 75px 60px;
  position: absolute;
  left: 50%;
  bottom: 100%;
  z-index: 3000;
  margin-left: -700px;
  background: #f8f8f8;
}
.foot_pop .privacy {
  display: none;
}
.foot_pop .email {
  display: none;
}
.foot_pop > div .title {
  margin-bottom: 65px;
  text-align: center;
  font-size: 29px;
  color: #c40f39;
}
.foot_pop > div .textarea {
  border: 1px solid #ddd;
  padding: 30px;
  background: #fff;
  font-size: 15px;
  color: #777;
  word-break: keep-all;
  line-height: 180%;
}
.foot_pop > div .textarea .tit {
  color: #333;
  margin-bottom: 10px;
}
.foot_pop > div .btn_close {
  margin-top: 60px;
  text-align: center;
}
.foot_pop > div .btn_close a {
  display: inline-block;
  width: 130px;
  height: 48px;
  text-align: center;
  line-height: 48px;
  background: #c40f39;
  color: #fff;
  font-family: "Montserrat";
  font-size: 14px;
}
.foot_pop .privacy .textarea {
  height: 200px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.foot_pop .privacy textarea {
  width: 100%;
  height: 1900px;
  word-break: keep-all;
  line-height: 180%;
  overflow: hidden;
  border: 0;
  outline: 0;
  resize: none;
}

@media (max-width: 1500px) {
  .foot {
    max-width: 1400px;
    width: 94%;
    margin: 0 auto;
    padding: 0 3%;
  }
}
/* 푸터 끝 */
