@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800");

/*공통*/
* {
  margin: 0;
  padding: 0;
}
html,
body {
  width: 100%;
  height: 100%;
  min-width: 1262px;
}
html {
  overflow-y: scroll;
}
body {
  background-color: #fff;
  width: 100%;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
th,
td,
input,
textarea {
  color: #555;
  font-family: "Noto Sans KR", "돋움", dotum, sans-serif;
  font-size: 13.5px;
  font-weight: normal;
}
img {
  border: 0 none;
}
ul,
ol,
li {
  list-style: none;
}
address {
  font-style: normal;
}
img,
input {
  vertical-align: middle;
}
a {
  color: #7d7d7d;
  text-decoration: none;
  cursor: pointer;
}
a:hover {
  color: #333;
  text-decoration: none;
}
#wrap {
  width: 100%;
}
#container {
  width: 100%;
}
#footer {
  width: 100%;
}
.conwrap {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}
.conwrap:after {
  display: block;
  clear: both;
  content: "";
}

@media (max-width: 1450px) {
  .conwrap {
    max-width: 1400px;
    width: 94%;
    margin: 0 auto;
    position: relative;
  }
}

/* 헤더 시작 */
#header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background: #fff;
  z-index: 1000;
}
.head {
  border-bottom: 1px solid #eaeaea;
}

.head_top {
  height: 58px;
  border-bottom: 1px solid #eaeaea;
}
.head_top .links {
  overflow: hidden;
  float: left;
  margin-top: 14px;
}
.head_top .links .lang {
  position: absolute;
  left: 0;
  top: 14px;
  z-index: 100;
  float: left;
  width: 86px;
  height: 21px;
  padding-top: 7px;
  overflow: hidden;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: all 0.3s;
}
.head_top .links .lang.on {
  height: 36px;
  transition: all 0.3s;
}
.head_top .links .lang .this_lang {
  padding-left: 15px;
  background: url(../images/lang_kor.gif) no-repeat 10px center;
}
.head_top .links .lang .this_lang a {
  display: block;
  width: 38px;
  padding-left: 15px;
  font-family: "Montserrat", sans-serif;
  font-size: 11px;
  color: #000;
  background: url(../images/lang_arr.gif) no-repeat right center;
}
.head_top .links .lang.on .this_lang a {
  background: url(../images/lang_arr2.gif) no-repeat right center;
}
.head_top .links .lang ul {
  width: 86px;
  margin-top: 5px;
}
.head_top .links .lang ul li a {
  display: block;
  font-family: "Montserrat", sans-serif;
  font-size: 11px;
  margin-left: -2px;
  text-align: center;
  color: #000;
  background: url(../images/lang_eng.gif) no-repeat 12px center;
}

.head_top .links .sns {
  float: left;
  padding-left: 93px;
}
.head_top .links .sns ul {
  overflow: hidden;
}
.head_top .links .sns ul li {
  float: left;
  margin-left: 7px;
}
.head_top .topmenu {
  float: right;
  margin-top: 20px;
}
.head_top .topmenu ul {
  overflow: hidden;
}
.head_top .topmenu ul li {
  float: left;
  margin-left: 10px;
  padding-left: 12px;
  background: url(../images/tm_bar.gif) no-repeat left center;
}
.head_top .topmenu ul li:first-child {
  background: 0;
}
.head_top .topmenu ul li a {
  font-family: "Montserrat", sans-serif;
  font-size: 11px;
  color: #9b9a9a;
}

.head .gnb h1 {
  float: left;
  width: 162px;
}
.head .gnb .nav {
  float: left;
  width: 1076px;
}
.head .gnb .nav > ul {
  text-align: center;
  margin-left: 60px;
}
.head .gnb .nav > ul > li {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin: 0 33px;
  height: 89px;
  line-height: 89px;
  font-size: 17px;
  color: #303030;
  transition: all 0.3s;
}
.head .gnb .nav > ul > li:first-child {
  margin: 0 33px 0 0;
}
.head .gnb .nav > ul > li:nth-child(6) {
  margin: 0 0 0 55px;
}
.head .gnb .nav > ul > li > a {
  display: block;
  height: 89px;
  line-height: 89px;
  font-size: 17px;
  color: #303030;
  transition: all 0.3s;
}
.head .gnb .nav > ul > li.on > a {
  color: #c40f39;
  transition: all 0.3s;
}

.head .gnb .nav > ul > li:nth-child(3) > a {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

/* 네비 시작 */
.head .gnb .nav > ul > li > ul {
  display: none;
  position: absolute;
  left: -78px;
  top: 100%;
  z-index: 100;
  width: 100px;
  padding: 12px 25px;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}
.head .gnb .nav > ul > li:nth-child(1) > ul {
  left: -39px;
  width: 100px;
}
.head .gnb .nav > ul > li:nth-child(2) > ul {
  left: -37px;
  width: 100px;
}
.head .gnb .nav > ul > li:nth-child(3) > ul {
  left: -35px;
  width: 150px;
}
.head .gnb .nav > ul > li:nth-child(4) > ul {
  left: -37px;
  width: 120px;
}
.head .gnb .nav > ul > li:nth-child(5) > ul {
  left: -50px;
  width: 123px;
}
.head .gnb .nav > ul > li:nth-child(6) > ul {
  left: -32px;
  width: 125px;
}
.head .gnb .nav > ul > li > ul > li {
  border-bottom: 1px solid #e1e1e1;
}
.head .gnb .nav > ul > li > ul > li:last-child {
  border-bottom: 0;
}
.head .gnb .nav > ul > li > ul > li > a {
  display: block;
  height: 49px;
  line-height: 49px;
  font-size: 14px;
  color: #6e6e6e;
  transition: all 0.3s;
}
.head .gnb .nav > ul > li > ul > li > a:hover {
  color: #c40f39;
  transition: all 0.3s;
}

.head .gnb .search {
  float: right;
  width: 162px;
}
.head .gnb .search .nav_search {
  overflow: hidden;
  float: right;
  text-align: right;
  margin-right: 18px;
  margin-top: 36px;
  transition: all 0.6s;
}
.head .gnb .search .nav_search a {
  float: right;
}
.head .gnb .search .nav_search input {
  float: right;
  width: 0;
  border: 0;
  outline: 0;
  margin-left: 10px;
  transition: all 0.6s;
}
.head .gnb .search .nav_search.on {
  border-bottom: 1px solid #303030;
  transition: all 0.6s;
}
.head .gnb .search .nav_search.on input {
  width: 90px;
  transition: all 0.6s;
}
.head .gnb .search .btn_all {
  float: right;
  overflow: hidden;
  width: 19px;
  height: 16px;
  margin-top: 36px;
  cursor: pointer;
}
.head .gnb .search .btn_all > div {
  width: 100%;
  height: 2px;
  margin-bottom: 5px;
  background: #303030;
  transition: all 0.4s;
}
.head .gnb .search .btn_all.openmenu > div:nth-child(1) {
  transform: translateY(7px) rotate(45deg);
}
.head .gnb .search .btn_all.openmenu > div:nth-child(2) {
  opacity: 0;
}
.head .gnb .search .btn_all.openmenu > div:nth-child(3) {
  transform: translateY(-7px) rotate(-45deg);
}
/* 네비 끝 */
/* 전체메뉴 보기 */
.allmenu {
  display: none;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 100%;
  z-index: 100;
  width: 100%;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1), 0 1px 0 #ddd inset;
}
.menubox {
  float: left;
  width: 12.66%;
  padding: 50px 2%;
  height: 340px;
  box-shadow: -1px 0px 0px #e5e4e4 inset;
}
.menubox h2 {
  height: 50px;
  margin-bottom: 20px;
  font-size: 21px;
  color: #303030;
  font-weight: 500;
}
.menubox h2 a {
  color: #303030;
}
.menubox h2:after {
  display: block;
  content: "";
  width: 19px;
  height: 2px;
  margin: 20px 0;
  background: #c40f39;
}
.menubox ul li {
  margin-bottom: 15px;
}
.menubox ul li:last-child {
  margin-bottom: 0px;
}
.menubox ul li a {
  display: block;
  font-size: 17px;
  color: #6e6e6e;
  font-weight: 400;
}
.menubox ul li a:hover {
  font-size: 17px;
  color: #c40f39;
  font-weight: 400;
}
@media (max-width: 1450px) {
  .head .gnb {
    min-width: 1262px;
    margin: 0 auto;
  }
  .head .gnb h1 {
    float: none;
    width: 162px;
    position: absolute;
    left: 0;
    top: 0;
  }
  .head .gnb .nav {
    float: none;
    width: 1076px;
    margin: 0 auto;
  }
  .head .gnb .search {
    float: none;
    position: absolute;
    right: 0;
    top: 0;
    width: 162px;
  }
}

#bgblack {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 3000;
}
.find_layer {
  display: none;
  position: relative;
  position: absolute;
  left: 50%;
  z-index: 4000;
  width: 800px;
  margin-left: -400px;
  overflow: hidden;
  background: #fff;
}
.find_layer iframe {
  width: 820px;
  height: 800px;
}
.find_layer .btnx_ {
  width: 50px;
  height: 50px;
  position: absolute;
  right: 26px;
  top: 13px;
  z-index: 10;
  cursor: pointer;
}
/* 헤더 끝 */
/* 푸터 시작 */
#footer {
  position: relative;
  background: #111;
  padding: 60px 0 65px;
}
.foot {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
}
.foot:after {
  display: block;
  content: "";
  clear: both;
}
.foot_top {
  width: 100%;
  padding-bottom: 25px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.foot_top:after {
  display: block;
  content: "";
  clear: both;
}
.foot_top h1 {
  float: left;
}
.foot_top .fm {
  overflow: hidden;
  float: right;
}
.foot_top .fm li {
  float: left;
  padding-right: 11px;
  margin-right: 10px;
  background: url(../images/common/fm_bar.gif) no-repeat right center;
}
.foot_top .fm li:last-child {
  margin: 0;
  padding: 0;
  background: 0;
}
.foot_top .fm li a {
  color: rgba(255, 255, 255, 0.5);
}

.foot_btm {
  width: 100%;
  padding-top: 25px;
}
.foot_btm:after {
  display: block;
  content: "";
  clear: both;
}
.foot_btm .tit {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  color: #fff;
  margin-bottom: 10px;
}
.foot_btm .info {
  float: left;
  margin-right: 55px;
}
.foot_btm .info address {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.3);
  font-weight: 300;
}
.foot_btm .info address span {
  display: inline-block;
  padding: 0 10px;
  margin-bottom: 3px;
}
.foot_btm .info .copy {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.3);
  font-weight: 300;
}
.foot_btm .cc {
  float: left;
}
.foot_btm .cc_tel {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  color: rgba(255, 255, 255, 0.5);
}
.foot_btm .fam_site {
  float: right;
  position: relative;
  width: 242px;
  height: 34px;
  text-align: left;
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.foot_btm .fam_site > a {
  display: block;
  padding: 0 13px;
  height: 34px;
  line-height: 34px;
  font-size: 13px;
  color: rgba(255, 255, 255, 0.4);
  background: url(../images/family_arr.png) no-repeat 95% center;
}
.foot_btm .fam_site ul {
  display: none;
  background: rgba(0, 0, 0, 1);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-bottom: 0;
  position: absolute;
  left: -1px;
  bottom: 100%;
  width: 242px;
}
.foot_btm .fam_site ul li a {
  display: block;
  padding: 0 13px;
  height: 34px;
  line-height: 34px;
  font-size: 13px;
  color: rgba(255, 255, 255, 0.6);
}
.foot_pop {
  display: none;
  width: 1280px;
  border-top: 5px solid #c40f39;
  padding: 75px 60px;
  position: absolute;
  left: 50%;
  bottom: 100%;
  z-index: 3000;
  margin-left: -700px;
  background: #f8f8f8;
}
.foot_pop .privacy {
  display: none;
}
.foot_pop .email {
  display: none;
}
.foot_pop > div .title {
  margin-bottom: 65px;
  text-align: center;
  font-size: 29px;
  color: #c40f39;
}
.foot_pop > div .textarea {
  border: 1px solid #ddd;
  padding: 30px;
  background: #fff;
  font-size: 15px;
  color: #777;
  word-break: keep-all;
  line-height: 180%;
}
.foot_pop > div .textarea .tit {
  color: #333;
  margin-bottom: 10px;
}
.foot_pop > div .btn_close {
  margin-top: 60px;
  text-align: center;
}
.foot_pop > div .btn_close a {
  display: inline-block;
  width: 130px;
  height: 48px;
  text-align: center;
  line-height: 48px;
  background: #c40f39;
  color: #fff;
  font-family: "Montserrat";
  font-size: 14px;
}
.foot_pop .privacy .textarea {
  height: 200px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.foot_pop .privacy textarea {
  width: 100%;
  height: 1900px;
  word-break: keep-all;
  line-height: 180%;
  overflow: hidden;
  border: 0;
  outline: 0;
  resize: none;
}

@media (max-width: 1500px) {
  .foot {
    max-width: 1400px;
    width: 94%;
    margin: 0 auto;
    padding: 0 3%;
  }
}
/* 푸터 끝 */

/* 모나미소개 공통 시작 */
.topButton {
  position: fixed;
  border: 2px solid #c40f39;
  right: 3%;
  bottom: 30%;
  z-index: 100;
}
.conSize {
  width: 100%;
  margin-top: 148px;
  padding-bottom: 150px;
}
.titleTop1 {
  width: 100%;
  height: 342px;
  text-align: center;
  background: url(../images/page_visual1.jpeg) no-repeat center;
}
.titleTop1 h2 {
  padding-top: 120px;
  font-size: 34px;
  color: #fff;
  font-weight: 500;
}
.titleTop1 h2:after {
  background: #c40f39;
  margin: 5px auto 10px;
  display: block;
  content: "";
  width: 30px;
  height: 4px;
}
.titleTop1 p {
  font-size: 15px;
  color: #fff;
  font-weight: 300;
}
.pageImg1 {
  background: url(../images/page_visual1.jpeg) no-repeat center;
}
.pageImg7 {
  background: url(../images/page_visual2.jpeg) no-repeat center;
}
.subMenu {
  position: relative;
  max-width: 1400px;
  width: 100%;
  margin: -29px auto 85px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.subMenu ul {
  overflow: hidden;
  background: #fff;
}
.subMenu ul li {
  float: left;
  width: 200px;
}
.subMenu ul li a {
  display: block;
  height: 58px;
  line-height: 58px;
  text-align: center;
  font-size: 15px;
  color: #666;
  background: #fff;
  border-right: 1px solid #ddd;
}
.subMenu ul li.on a {
  color: #fff;
  background: #c40f39;
}
.subMenu ul li:last-child a {
  border-right: 0;
}
@media (max-width: 1420px) {
  .subMenu ul li {
    width: 14.285%;
  }
}
.titleText {
  font-family: "Montserrat", sans-serif;
  font-size: 38px;
  font-weight: 600;
  color: #000;
  text-align: center;
  letter-spacing: 2px;
}
.titleText:after {
  display: block;
  content: "";
  width: 30px;
  height: 4px;
  margin: 5px auto 95px;
  background: #c40f39;
}
.titleText span {
  color: #c40f39;
}
.br {
  display: block;
}
.pagetabs {
  position: relative;
  max-width: 1400px;
  width: 100%;
  margin: -29px auto 85px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.pagetabs ul {
  overflow: hidden;
  background: #fff;
}
.pagetabs ul li {
  float: left;
}
.pagetabs ul li a {
  display: block;
  height: 58px;
  line-height: 58px;
  text-align: center;
  font-size: 15px;
  color: #666;
  background: #fff;
  border-right: 1px solid #ddd;
}
.pagetabs ul li.on a {
  color: #fff;
  background: #c40f39;
}
.pagetabs ul li:last-child a {
  border-right: 0;
}

.pagetabs ul.m1 li {
  width: 200px;
}
.pagetabs ul.m2 li {
  width: 233px;
}
.pagetabs ul.m2 li:last-child {
  width: 235px;
}
.pagetabs ul.m4 li {
  width: 25%;
}
.pagetabs ul.m5 li {
  width: 50%;
}

@media (max-width: 1420px) {
  .pagetabs ul.m1 li {
    width: 14.285%;
  }
  .pagetabs ul.m2 li {
    width: 16.666%;
  }
  .pagetabs ul.m2 li:last-child {
    width: 16.666%;
  }
  .pagetabs ul.m4 li {
    width: 25%;
  }
  .pagetabs ul.m5 li {
    width: 50%;
  }
}

.title1 {
  font-family: "Montserrat", sans-serif;
  font-size: 38px;
  font-weight: 600;
  color: #000;
  text-align: center;
  letter-spacing: 2px;
}
.title1:after {
  display: block;
  content: "";
  width: 30px;
  height: 4px;
  margin: 5px auto 95px;
  background: #c40f39;
}
.title1 span {
  color: #c40f39;
}

/* 모나미소개 공통 끝 */
/* CEO 메시지 시작 */
.pArea {
  margin-bottom: 50px;
}
.pArea .photo {
  position: relative;
  width: 810px;
}
.pArea .photo > img {
  position: relative;
  z-index: 10;
}
.pArea .photo .backbox {
  position: absolute;
  left: -5px;
  top: -5px;
  z-index: 5;
  width: 150px;
  height: 150px;
  background: #c40f39;
}
.pArea .ment {
  position: absolute;
  right: 0;
  top: 58px;
  z-index: 10;
  width: 662px;
  height: 293px;
  background: rgba(227, 227, 227, 1) url(../images/message_slg_bg.png) no-repeat;
}
.pArea .ment .textarea {
  padding: 90px 0 0 162px;
  font-size: 36px;
  color: #000;
  font-weight: 300;
  line-height: 140%;
}
.pArea .ment .textarea span {
  color: #c40f39;
  font-weight: 400;
}
.message {
  overflow: hidden;
}
.message .m1 {
  float: left;
  width: 50%;
}
.message .m2 {
  float: right;
  width: 47%;
}
.message p {
  margin-bottom: 15px;
  font-size: 14px;
  line-height: 180%;
  color: #777;
}
.message p span {
  color: #333;
}
.message p.signImg {
  text-align: right;
  color: #333;
  font-size: 16px;
}
.message p.signImg img {
  vertical-align: bottom;
  margin-left: 20px;
}
@media screen and (max-width: 1450px) {
  .message .m1 {
    float: none;
    width: 100%;
    word-break: keep-all;
  }
  .message .m2 {
    float: none;
    width: 100%;
    word-break: keep-all;
  }
  .message .br {
    display: none;
  }
}
/* CEO 메시지 끝 */
/* 회사정보 시작 */
.titleNum {
  margin-bottom: 30px;
  font-size: 23px;
  font-weight: 300;
  color: #000;
}
.titleNum span.num {
  font-family: "Montserrat", sans-serif;
  background: #c40f39;
  display: inline-block;
  vertical-align: top;
  width: 29px;
  height: 29px;
  margin-top: 5px;
  margin-right: 5px;
  text-align: center;
  line-height: 29px;
  font-size: 17px;
  color: #fff;
}
.companyBox {
  position: relative;
}
.companyBox .info {
  width: 1398px;
  margin: auto;
}
.companyBox .info:after {
  display: block;
  content: "";
  clear: both;
}
.companyBox .info .company .subLeft {
  position: relative;
  float: left;
  margin-bottom: 18px;
}
.companyBox .info .company .subRight {
  position: relative;
  float: right;
  margin-bottom: 18px;
}
.companyBox .info .company .boxTitle {
  overflow: hidden;
  position: absolute;
  left: 2%;
  bottom: 10px;
  width: 86%;
  height: 118px;
  padding: 0 5%;
  background: rgba(255, 255, 255, 0.9);
  text-align: center;
  font-size: 19px;
  color: #333;
}
.companyBox .info .company .boxTitle span {
  font-size: 19px;
  color: #c40f39;
  font-weight: 500;
}

.companyBox .info .company .boxTitle .sub {
  float: left;
  width: 45%;
  margin-top: 35px;
  font-size: 20px;
  color: #333;
  line-height: 130%;
  text-align: left;
}
.companyBox .info .company .boxTitle span {
  display: inline-block;
  color: #c40f39;
}
.companyBox .info .company .boxTitle .comLogo {
  float: right;
  width: 50%;
  margin-top: 30px;
  border: 1px solid #ddd;
  background: #fff;
  text-align: center;
}

@media screen and (max-width: 1450px) {
  .companyBox .info {
    width: 94%;
    margin: 130px auto;
  }
  .companyBox .info .company .subLeft {
    position: relative;
    float: left;
    width: 49%;
  }
  .companyBox .info .company .subRight {
    position: relative;
    float: right;
    width: 49%;
  }
  .companyBox .info img.bg {
    width: 100%;
  }
  .companyBox .info .company .boxTitle .sub {
    font-size: 17px;
    color: #333;
  }
}
.companyBox .info2 {
  width: 1400px;
  margin: 130px auto;
}
.companyBox .info2 .nation .addBox {
  overflow: hidden;
  border: 1px solid #ddd;
}
.companyBox .info2 .nation .addBox > div {
  padding: 40px 4%;
}
.companyBox .info2 .nation .addBox > div .comName {
  font-family: "Montserrat", sans-serif;
  font-size: 17px;
  color: #333;
  margin-bottom: 20px;
}
.companyBox .info2 .nation .addBox > div .comName span {
  display: inline-block;
  color: #c40f39;
  font-weight: 600;
  margin-right: 10px;
}
.companyBox .info2 .nation .addBox > div dl {
  overflow: hidden;
  margin-bottom: 5px;
}
.companyBox .info2 .nation .addBox > div dl:last-child {
  margin-bottom: 0;
}
.companyBox .info2 .nation .addBox > div dl dt {
  float: left;
  width: 90px;
  font-size: 14px;
  color: #666;
}
.companyBox .info2 .nation .addBox > div dl dd {
  float: left;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  color: #999;
  line-height: 180%;
}

.companyBox .info2 .nation .addBox .nation1 {
  width: 100%;
  box-shadow: 0px -1px 0 #ddd inset;
}
.companyBox .info2 .nation .addBox .nation2 {
  width: 100%;
}
.companyBox .info2 .nation .addBox .nation3 {
  border-top: 1px solid #ddd;
}
.companyBox .info2 .nation .addBox .nation4 {
  border-top: 1px solid #ddd;
}

@media screen and (max-width: 1450px) {
  .companyBox .info2 {
    width: 94%;
    margin: 130px auto;
  }
  .maparea img {
    width: 100%;
  }
}
/* 회사정보 끝 */
/* 회사연혁 시작 */
.history {
  position: relative;
  width: 100%;
  height: 3030px;
}
.history .bgarea1 {
  position: absolute;
  left: 0;
  top: 505px;
  z-index: 1;
  width: 100%;
  height: 574px;
  background: #f8f8f8;
}
.history .bgarea2 {
  position: absolute;
  left: 0;
  top: 1356px;
  z-index: 1;
  width: 100%;
  height: 651px;
  background: #f8f8f8;
}
.history .bgarea3 {
  position: absolute;
  left: 0;
  top: 2509px;
  z-index: 1;
  width: 100%;
  height: 406px;
  background: #f8f8f8;
}
.history .center_line {
  position: absolute;
  left: 50%;
  top: 0;
  z-index: 2;
  width: 1px;
  height: 100%;
  background: #ddd;
}
.history .HImg1 {
  position: absolute;
  right: 50%;
  top: 168px;
  z-index: 2;
  margin-right: 60px;
}
.history .HImg2 {
  position: absolute;
  left: 50%;
  top: 661px;
  z-index: 2;
  margin-left: 60px;
}
.history .HImg3 {
  position: absolute;
  right: 50%;
  top: 1162px;
  z-index: 2;
  margin-right: 60px;
}
.history .HImg4 {
  position: absolute;
  left: 50%;
  top: 1660px;
  z-index: 2;
  margin-left: 60px;
}
.history .HImg5 {
  position: absolute;
  right: 50%;
  top: 2162px;
  z-index: 2;
  margin-right: 60px;
}
.history .HImg6 {
  position: absolute;
  left: 50%;
  top: 2666px;
  z-index: 2;
  margin-left: 60px;
}
.history .HBox {
  position: absolute;
  width: 50%;
  z-index: 4;
}
.history .HBox .record {
  position: relative;
  padding-bottom: 25px;
  margin-bottom: 25px;
  border-bottom: 1px solid #ddd;
}
.history .HBox .record:after {
  display: block;
  content: "";
  clear: both;
}
.history .HBox .record .subTitle {
  font-size: 33px;
  color: #333;
  line-height: 130%;
  font-weight: 300;
}
.history .HBox .record .subTitle span {
  color: #c40f39;
}
.history .HBox .record .year {
  position: absolute;
  top: 62px;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
}

.history .HBox dl {
  overflow: hidden;
  margin-bottom: 10px;
}
.history .HBox dl dt {
  width: 54px;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  color: #c40f39;
  font-weight: 500;
  line-height: 130%;
}
.history .HBox dl dd {
  font-size: 14px;
  color: #777;
}

.history .HBox.fr {
  text-align: left;
}
.history .HBox.fr .record {
  padding-left: 60px;
}
.history .HBox.fr .record .subTitle {
  float: left;
}
.history .HBox.fr .record .red {
  position: absolute;
  left: -2px;
  bottom: -3px;
  width: 5px;
  height: 5px;
  background: #c40f39;
  z-index: 3;
}
.history .HBox.fr dl {
  padding-left: 60px;
}
.history .HBox.fr dl dt {
  float: left;
}
.history .HBox.fr dl dd {
  float: none;
}

.history .HBox.fl {
  text-align: right;
}
.history .HBox.fl .record {
  padding-right: 60px;
}
.history .HBox.fl dl {
  padding-right: 60px;
}
.history .HBox.fl dl dt {
  float: right;
}
.history .HBox.fl dl dd {
  float: right;
}
.history .HBox.fl .record .red {
  position: absolute;
  right: -3px;
  bottom: -3px;
  width: 5px;
  height: 5px;
  background: #c40f39;
  z-index: 3;
}

.history .HBox:nth-child(1) {
  left: 50%;
  top: 0;
}
.history .HBox:nth-child(1) .record {
  margin-top: 60px;
}
.history .HBox:nth-child(1) .year {
  left: 240px;
}
.history .HBox:nth-child(2) {
  position: absolute;
  right: 50%;
  top: 553px;
}
.history .HBox:nth-child(2) .year {
  right: 300px;
}
.history .HBox:nth-child(3) {
  position: absolute;
  left: 50%;
  top: 1058px;
}
.history .HBox:nth-child(3) .year {
  left: 325px;
}
.history .HBox:nth-child(4) {
  position: absolute;
  right: 50%;
  top: 1553px;
}
.history .HBox:nth-child(4) .year {
  right: 180px;
}
.history .HBox:nth-child(5) {
  position: absolute;
  left: 50%;
  top: 2056px;
}
.history .HBox:nth-child(5) .year {
  left: 170px;
}
.history .HBox:nth-child(6) {
  position: absolute;
  right: 50%;
  top: 2555px;
}
.history .HBox:nth-child(6) .year {
  right: 170px;
}

/* 회사연혁 끝 */
/* sitemap 시작 */
.sitemap {
  overflow: hidden;
  width: 1400px;
  margin: 0 auto;
  border-top: 1px solid #ddd;
  padding: 20px 0;
}
.sitemap_menubox {
  float: left;
  width: 430px;
  height: 490px;
  border: 1px solid #ddd;
  text-align: center;
  margin-right: 34px;
  margin-bottom: 34px;
}
.sitemap_menubox:last-child {
  margin-right: 0;
}

.sitemap_menubox .menu_title {
  margin-top: 65px;
  padding-top: 10px;
  font-size: 21px;
  color: #000;
}
.sitemap_menubox .menu_title:after {
  display: block;
  content: "";
  width: 19px;
  height: 2px;
  background: #c40f39;
  margin: 15px auto 30px;
}
.sitemap_menubox:nth-child(1) .menu_title {
  background: url(../images/sitemap_bg1.gif) no-repeat 45px 5px;
}
.sitemap_menubox:nth-child(2) .menu_title {
  background: url(../images/sitemap_bg2.gif) no-repeat 45px top;
}
.sitemap_menubox:nth-child(3) .menu_title {
  background: url(../images/sitemap_bg3.gif) no-repeat 45px 7px;
}
.sitemap_menubox:nth-child(4) .menu_title {
  background: url(../images/sitemap_bg5.gif) no-repeat 60px 5px;
}
.sitemap_menubox:nth-child(5) .menu_title {
  background: url(../images/sitemap_bg4.gif) no-repeat 25px 7px;
}
.sitemap_menubox:nth-child(6) .menu_title {
  background: url(../images/sitemap_bg6.gif) no-repeat 25px 7px;
}
.sitemap_menubox ul li {
  margin-bottom: 15px;
}
.sitemap_menubox ul li a {
  font-size: 15px;
  color: #666;
}

@media (max-width: 1450px) {
  .sitemap {
    overflow: hidden;
    width: 94%;
    margin: 0 auto;
    border-top: 1px solid #ddd;
    padding: 20px 0;
  }
  .sitemap_menubox {
    float: left;
    width: 30%;
    height: 490px;
    border: 1px solid #ddd;
    text-align: center;
    margin-right: 1%;
  }
  .sitemap_menubox .menu_title {
    margin-top: 0px;
    padding-top: 75px;
  }
  .sitemap_menubox:nth-child(1) .menu_title {
    background: url(../images/sitemap_bg1.gif) no-repeat center 30px;
  }
  .sitemap_menubox:nth-child(2) .menu_title {
    background: url(../images/sitemap_bg2.gif) no-repeat center 30px;
  }
  .sitemap_menubox:nth-child(3) .menu_title {
    background: url(../images/sitemap_bg3.gif) no-repeat center 30px;
  }
  .sitemap_menubox:nth-child(4) .menu_title {
    background: url(../images/sitemap_bg4.gif) no-repeat center 30px;
  }
  .sitemap_menubox:nth-child(5) .menu_title {
    background: url(../images/sitemap_bg5.gif) no-repeat center 30px;
  }
  .sitemap_menubox:nth-child(6) .menu_title {
    background: url(../images/sitemap_bg6.gif) no-repeat center 30px;
  }
}
/* sitemap 끝 */
/* 검색 시작 */
.search {
  width: 1400px;
  margin: 0 auto;
}
.search .detail {
  border: 1px solid #ddd;
  background: #f8f8f8;
  padding: 45px 55px;
}
.search .detail .clear {
  overflow: hidden;
}
.search .detail .clear .tit {
  float: left;
  margin-right: 85px;
}
.search .detail .clear .tit .kr {
  font-size: 29px;
  color: #c40f39;
}
.search .detail .clear .tit .en {
  font-family: "Montserrat";
  font-size: 14px;
  color: #666;
}
.search .detail .clear .formarea {
  float: left;
}
.search .detail .clear .formarea input {
  width: 408px;
  height: 46px;
  padding: 0 20px;
  font-size: 15px;
  border: 1px solid #ddd;
  background: #fff;
  outline: 0;
}
.search .detail .clear .formarea a {
  display: inline-block;
  vertical-align: top;
  width: 130px;
  height: 48px;
  text-align: center;
  line-height: 48px;
  background: #c40f39;
  color: #fff;
  font-family: "Montserrat";
  font-size: 14px;
}
.search .total {
  margin-top: 50px;
  margin-bottom: -25px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 5px;
  font-size: 15px;
}

@media (max-width: 1450px) {
  .search {
    width: 94%;
    margin: 0 auto;
  }
}
.product_list {
  max-width: 1400px;
  margin: 45px auto 0;
}
.product_list ul {
  overflow: hidden;
}
.product_list ul li {
  float: left;
  width: 264px;
  margin: 0 17px 49px 0;
  border: 1px solid #ddd;
}
.product_list ul li:nth-child(5n) {
  margin-right: 0;
}
.product_list ul li a .thum {
  position: relative;
}
.product_list ul li a .thum .ondiv {
  display: block;
  position: relative;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  opacity: 0;
  transition: all 0.3s ease;
}
.product_list ul li:hover a .thum .ondiv {
  opacity: 1;
  transition: all 0.3s ease;
}
.product_list ul li a .thum .ondiv .btn_plus {
  position: relative;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 72px;
  height: 72px;
  margin: -36px 0 0 -36px;
  background: rgba(255, 255, 255, 0.8);
}
.product_list ul li a .thum .ondiv .btn_plus div:nth-child(1) {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 50%;
  height: 1px;
  margin-left: -25%;
  background: rgba(196, 15, 57, 0.7);
}
.product_list ul li a .thum .ondiv .btn_plus div:nth-child(2) {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 1px;
  height: 50%;
  margin-top: -25%;
  background: rgba(196, 15, 57, 0.7);
}
.product_list ul li a .info {
  height: 71px;
  padding: 30px 30px 0;
}
.product_list ul li a .info .cate1 {
  margin: 0px 0 5px;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  color: #b3b3b3;
}
.product_list ul li a .info .product_name {
  font-family: "Montserrat";
  font-size: 15px;
  color: #000;
  font-weight: 600;
}

@media (max-width: 1450px) {
  .product_list {
    width: 94%;
    margin: 45px auto 0;
  }
  .product_list ul {
    overflow: hidden;
    width: 1115px;
    margin: 0 auto;
  }
  .product_list ul li {
    float: left;
    width: 264px;
    margin: 0 17px 49px 0;
    border: 1px solid #ddd;
  }
  .product_list ul li:nth-child(4n) {
    margin-right: 0;
  }
  .product_list ul li:nth-child(5n) {
    margin-right: 17px;
  }
}
.paging {
  margin: 60px 0;
  text-align: center;
}
.paging a {
  display: inline-block;
  vertical-align: top;
  width: 38px;
  height: 38px;
  text-align: center;
  line-height: 38px;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  color: #a8a8a8;
  border: 1px solid #ddd;
}
.paging strong {
  display: inline-block;
  vertical-align: top;
  width: 38px;
  height: 38px;
  text-align: center;
  line-height: 38px;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  color: #c40f39;
  font-weight: 500;
  border: 1px solid #c40f39;
}
.paging a.page_prev {
  margin-right: 30px;
  border: 1px solid #ddd;
}
.paging a.page_next {
  margin-left: 30px;
}
/* 검색 끝 */
