<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>monami</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
  	<servlet-name>UserFrontController</servlet-name>
  	<servlet-class>com.monami.app.user.UserFrontController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>UserFrontController</servlet-name>
  	<url-pattern>*.us</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>BoardFrontController</servlet-name>
  	<servlet-class>com.monami.board.BoardFrontController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>BoardFrontController</servlet-name>
  	<url-pattern>*.bo</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>ProductFrontController</servlet-name>
  	<servlet-class>com.monami.app.product.ProductFrontController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ProductFrontController</servlet-name>
  	<url-pattern>*.pd</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>InquiryFrontController</servlet-name>
  	<servlet-class>com.monami.inquiry.InquiryFrontController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>InquiryFrontController</servlet-name>
  	<url-pattern>*.mo</url-pattern>
  </servlet-mapping>
  <!-- CKFINDER START -->
<servlet>
  <servlet-name>ConnectorServlet</servlet-name>
  <servlet-class>com.ckfinder.connector.ConnectorServlet</servlet-class>
  <init-param>
      <param-name>XMLConfig</param-name>
      <param-value>/WEB-INF/config.xml</param-value>
  </init-param>
  <init-param>
      <param-name>debug</param-name>
      <param-value>false</param-value>
  </init-param>
  <load-on-startup>1</load-on-startup>
</servlet>

<servlet-mapping>
  <servlet-name>ConnectorServlet</servlet-name>
  <url-pattern>/ckfinder/core/connector/java/connector.java</url-pattern>
</servlet-mapping>
<!-- CKFINDER END -->
</web-app>